html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

canvas{
    background-image: url('images/background.jpg');
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -350px;
}